### Android ###
*.iml
.gradle/
local.properties
/build/
app/build/
/captures/
.externalNativeBuild/
.cxx/

### Signing ###
*.jks
*.keystore

### IDE (IntelliJ/Android Studio) ###
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

### OS ###
.DS_Store
**/.DS_Store
Thumbs.db
